<h3>This is the about page</h3>
<button class="btn btn-success" onClick="something()"> Join the papa johns culture! </button>

<script>
function somethng()
{
	alert('epic gamer moment!');
}


</script>